<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<style>
	*{
		margin: 0;
		padding:0;
	}
	body{
		background:rgba(0 ,0 ,0 ,0.4) url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
		background-size: cover;
		background-blend-mode: darken;
	}
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 90vh;
		color:white;
	}
	.backbtn{
		padding: 10px;
		border-radius: 25px;
		outline: none;
		cursor: pointer;
		background:none;
		width: 200px;
		transition-duration: 0.5s;
		font-size: 15px
	}
	.backbtn:hover{
		font-size: 18px;
		padding:13px;
		background:#993333;
		color:white;
	}
	.head{
		font-size: 40px;
	}
	.cont{
		display: flex;
	}
	.info{
		font-size: 25px;
		padding:30px;
		width:800px;
	}
	.front{
		width:450px;
		padding: 20px;
		border:solid grey 2px;
		border-radius: 25px;
		margin:8px;
		margin-top: 30px;
		transition-duration: 0.5s;
	}
	.back{
		width:450px;
		padding: 20px;
		border:solid grey 2px;
		border-radius: 25px;
		margin:8px;
		margin-top: 30px;
		transition-duration: 0.5s;
	}
	.front:hover{
		padding:25px;
		background:#9900ff;
		font-size: 30px;
	}
	.back:hover{
		padding:25px;
		background:#9900ff;
		font-size: 30px;
	}
	.front a{
		color: white
	}
	.back a{
		color: white
	}
	.front a:hover{
		color:black;
	}
	.back a:hover{
		color:black;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="head">
			CONTACT US
		</div>
		<div class="info">
			<p>We are pursuing our bachelors degree in field of computer science.Doing this website as a skill development project.If you guys have any Idea or sugestion in developing our website then contact us at</p>
			<div class="cont">
				<div class="front">
					<p class="header">FRONTEND</p>
					<p>
						by G.HEMANTH KUMAR.mail at hemanthkumar7909@gmail.com
					</p>
					<p>
						Follow at:<a href="https://www.instagram.com/h.e.m.a.n.t.h_01/?hl=en">Click Here</a>
					</p>
				</div>
				<div class="back">
					<p class="header">BACKEND</p>
					<p>
						by P.LALITH SRINIVAS.mail at lalithsrinivas@gmail.com
					</p>
					<p>
						Follow at:<a href="https://www.instagram.com/nivas_.17/?hl=en">Click Here</a>
					</p>
				</div>

			</div>

		</div>
		<a href="/">
			<button class="backbtn">
				BACK TO HOME
			</button>
		</a>
		<div class="footer">
			<i>copyright 2020 &copy</i>
		</div>
	</div>
</body>
</html>
